
@media (max-width: 480px) {
  .header {
    padding: 1rem;
  }   
  .accordion{
      max-width: 100%;
      width: 90%;
      justify-content :center;
      margin: 5%;
      
  }
  .header-title {
    font-size: 1.8rem;
  }
  .button {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
  .accordion-header {
    font-size: 1.6rem;
  }
  .accordion-content {
    font-size: 1.2rem;
  }
  .footerNav ul li a {
    font-size: 1.2rem;
  }
  .display{
    justify-content: center;
    margin: 10%;
  }
} 

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    padding: 1rem;
  }   
  .accordion{
      max-width: 80%;
  }
  .header-title {
    font-size: 1.8rem;
  }
  .button {
    font-size: 1.4rem;
    padding: 0.8rem 1.2rem;
  }
  .accordion-header {
    font-size: 1.6rem;
  }
  .accordion-content {
    font-size: 1.2rem;
  }
  .footerNav ul li a {
    font-size: 1.2rem;
  }
} 

@media (min-width: 768px) and (max-width: 1023px){  /* Dành cho tablet và laptop */
  .container {
      padding: auto;
      display: flex;
      align-items: flex-start;
      gap: 1.2rem;
  }
  .accordion {
      width: 50%;  
      margin: 10%;

  }
  .display
  {
    width: 30%;
    margin: 10% 15% 10% 5%;

  }
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
}
.accordion {
    width: 30%; 
}
.display {
   margin-right: 10%;
}
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Đảm bảo body cao ít nhất bằng chiều cao viewport */
  line-height: 1; /* Giữ nguyên line-height */
}

main.restricted-content {
  flex: 1 0 auto; 
  display: flex;
  margin-top: 70px;
  padding: 25px; 
}

footer {
  flex-shrink: 0; /* Ngăn footer bị co lại */
  width: 100%;
  background-color: #B5E3E0;
  padding: 5px 0;
  text-align: center;
  box-shadow: 0px -4px 6px rgba(255, 255, 255, 0.1);
}

/* Giới hạn kích thước QR code trên điện thoại */
@media (max-width: 600px) {
  .qr-container {
    max-width: 300px; /* Giới hạn chiều rộng tối đa */
    }

  /* Đảm bảo canvas bên trong không vượt quá kích thước container */
  #canvas {
    width: 300px !important;
    height: 300px !important;
  }
}

